{% extends 'lista.html'%}

{% block titulo_add %}
Añadir Categoría Gasto
{% endblock %}

{% block contenido_add %}
<div class="form-outline form-white mb-4">
    <input type="text" id="addTypeDescripcionX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeDescripcionX">Descripción</label>
</div>
<div class="form-outline form-white mb-4">
    <select class="form-select" id="add-cuenta-select">
        <option value="" selected="">Todas</option>
        {% for cuenta in lista_cuentas %}
        <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
        {% endfor %}
    </select>
</div>
<div class="form-outline form-white mb-4">
    <select class="form-select" id="add-monedero-select">
        <option value="" selected="">Ninguno</option>
        {% for monedero in lista_monederos %}
        <option value="{{monedero.id}}">{{monedero.nombre}}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}

{% block titulo_edit %}
Editar Categoría Gasto
{% endblock %}

{% block contenido_edit %}
<div class="form-outline form-white mb-4">
    <input type="text" id="editTypeDescripcionX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeDescripcionX">Descripción</label>
</div>
<div class="form-outline form-white mb-4">
    <select class="form-select" id="edit-cuenta-select">
        <option value="">Todas</option>
        {% for cuenta in lista_cuentas %}
        <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
        {% endfor %}
    </select>
</div>
<div class="form-outline form-white mb-4">
    <select class="form-select" id="edit-monedero-select">
        <option value="">Ninguno</option>
        {% for monedero in lista_monederos %}
        <option value="{{monedero.id}}">{{monedero.nombre}}</option>
        {% endfor %}
    </select>
</div>
<input type="hidden" id="editTypeIdX"/>
{% endblock %}


{% block listaextendsscript %}
<script type="text/javascript" src="assets/js/categoria-gasto.js"></script>
{% endblock%}