{% extends 'layout.html'%}


{% block contenido %}
<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <form id="form_change_password" class="vh-100">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                <div class="card bg-dark text-white">
                                    <div class="card-body p-5 text-center">
                                        <div class="mb-md-5 mt-md-4 pb-5">
                                            <h2 class="fw-bold mb-2 text-uppercase">Cambiar Contraseña</h2>
                                            <div class="form-outline form-white mb-4">
                                                <div class="form-floating mb-3">
                                                    <input type="password" id="typePasswordX" class="form-control"/>
                                                    <label for="typePasswordX">Contraseña</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="password" id="typeNewPasswordX" class="form-control"/>
                                                    <label for="typeNewPasswordX">Nueva Contraseña</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="password" id="typeRepeatNewPasswordX"
                                                           class="form-control"/>
                                                    <label for="typeRepeatNewPasswordX">Repetir Nueva Contraseña</label>
                                                </div>
                                            </div>

                                            <p class="small mb-5 pb-lg-2 text-danger" id="typeMessageX"></p>

                                            <button id="sendbutton" class="btn btn-primary btn-lg px-5"
                                                    type="submit">
                                                Cambiar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block script %}
<script type="text/javascript" src="assets/js/change_password.js"></script>
{% endblock %}


