{% extends 'lista.html'%}

{% block titulo_add %}
Añadir cuenta
{% endblock %}

{% block tabletopmenu %}

<div>
    <label id="ponderacion-label" class="mt-2 px-2 search-label text-danger"></label>
</div>
{% endblock %}

{% block contenido_add %}
<div class="form-outline form-white mb-4">
    <input type="text" id="addTypeNombreX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeNombreX">Nombre</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="addTypePonderacionX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypePonderacionX">Ponderación</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="addTypeCantidadInicialX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeCantidadInicialX">Cantidad inicial</label>
</div>
{% endblock %}

{% block titulo_edit %}
Editar cuenta
{% endblock %}

{% block contenido_edit %}
<div class="form-outline form-white mb-4">
    <input type="text" id="editTypeNombreX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeNombreX">Nombre</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="editTypePonderacionX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypePonderacionX">Ponderación</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="editTypeCantidadInicialX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeCantidadInicialX">Cantidad Inicial</label>
</div>
<input type="hidden" id="editTypeIdX"/>
{% endblock %}


{% block listaextendsscript %}
<script type="text/javascript" src="assets/datatables/js/dataTables.rowGroup.min.js"></script>
<script type="text/javascript" src="assets/js/cuentas.js"></script>
{% endblock%}