{% extends 'lista.html'%}

{% block lista %}
{% for cuenta in lista %}
<tr>
    <td>
        <div class="d-flex align-items-center">
            <div id="nombre-{{cuenta.id}}" class="flex-grow-1 ms-2">
                {{cuenta.nombre}}
            </div>
        </div>
    </td>
    <td>
        {% if cuenta.total >=0 %}
        <span id="total-{{cuenta.id}}" class="ms-2 text-success fw-semibold">{{cuenta.total}}</span>
        {% else %}
        <span id="total-{{cuenta.id}}" class="ms-2 fw-semibold">{{cuenta.total}}</span>
        {% endif %}
    </td>
    <td>
        <span id="ponderacion-{{cuenta.id}}" class="flex-grow-1 ms-2">{{cuenta.ponderacion}}</span>
    </td>

    <td class="text-end">
        <a class="edit-element font-18 text-info me-2" data-bs-toggle="tooltip"
           data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit" data-element="{{cuenta.id}}"><i
                class="uil uil-pen"></i></a>
        <a class="delete-element font-18 text-danger" data-bs-toggle="tooltip"
           data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete" data-element="{{cuenta.id}}">
            <i class="uil uil-trash"></i>
        </a>
    </td>
</tr>
{% endfor %}
{% endblock%}

{% block titulo_add %}
Añadir cuenta
{% endblock %}

{% block contenido_add %}
<div class="form-outline form-white mb-4">
    <input type="text" id="addTypeNombreX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeNombreX">Nombre</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="addTypeTotalX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeTotalX">Total</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="addTypePonderacionX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypePonderacionX">Ponderación</label>
</div>
{% endblock %}

{% block titulo_edit %}
Editar cuenta
{% endblock %}

{% block contenido_edit %}
<div class="form-outline form-white mb-4">
    <input type="text" id="editTypeNombreX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeNombreX">Nombre</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="editTypeTotalX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeTotalX">Total</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="editTypePonderacionX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypePonderacionX">Ponderación</label>
</div>
<input type="hidden" id="editTypeIdX"/>
{% endblock %}


{% block script %}
<script type="text/javascript" src="assets/js/cuentas.js"></script>
{% endblock%}