{% extends 'lista.html'%}

{% block listaextendscssstyle %}
<link href="assets/daterangepicker/css/daterangepicker.css" rel="stylesheet">
{% endblock %}

{% block titulo_add %}
Añadir Dividendo
{% endblock %}

{% block contenido_add %}
<div class="form-outline form-white mb-4">
    <div class="form-outline form-white mb-4">
        <div class="input-group date form-floating">
            <input type="text" class="form-control" id="addFechaDataPicker"
                   data-toggle="date-picker" data-time-picker="true">
            <div class="input-group-text bg-primary border-primary text-white">
                <span class="uil uil-calendar-alt"></span>
            </div>
            <label for="addFechaDataPicker">Fecha y Hora</label>
        </div>

        <div class="input-group mt-2">
            <select class="form-select" id="add-isin-select">
                <option value="">Seleccione ISIN</option>
                {% for isin in lista_isin %}
                <option value="{{isin}}">{{isin}}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-floating mt-2">
            <input type="text" id="addTypeDividendoPorAccionX" class="form-control"/>
            <label for="addTypeDividendoPorAccionX">Dividendo Acción</label>
        </div>

        <div class="form-floating mt-2">
            <input type="text" id="addTypeRetencionPorAccionX" class="form-control"/>
            <label for="addTypeRetencionPorAccionX">Retención por Acción</label>
        </div>
    </div>
</div>
{% endblock %}

{% block titulo_edit %}
Editar Dividendo
{% endblock %}

{% block contenido_edit %}
<div class="form-outline form-white mb-4">
    <div class="form-outline form-white mb-4">
        <div class="input-group date form-floating">
            <input type="text" class="form-control" id="editFechaDataPicker"
                   data-toggle="date-picker" data-time-picker="true">
            <div class="input-group-text bg-primary border-primary text-white">
                <span class="uil uil-calendar-alt"></span>
            </div>
            <label for="editFechaDataPicker">Fecha y Hora</label>
        </div>

        <div class="input-group mt-2">
            <select class="form-select" id="edit-isin-select">
                <option value="">Seleccione ISIN</option>
                {% for isin in lista_isin %}
                <option value="{{isin}}">{{isin}}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-floating mt-2">
            <input type="text" id="editTypeDividendoPorAccionX" class="form-control"/>
            <label for="editTypeDividendoPorAccionX">Dividendo Acción</label>
        </div>

        <div class="form-floating mt-2">
            <input type="text" id="editTypeRetencionPorAccionX" class="form-control"/>
            <label for="editTypeRetencionPorAccionX">Retención por Acción</label>
        </div>
    </div>
</div>
<input type="hidden" id="editTypeIdX"/>
{% endblock %}


{% block listaextendsscript %}
<script type="text/javascript" src="assets/moment/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="assets/daterangepicker/js/daterangepicker.min.js"></script>
<script type="text/javascript" src="assets/js/dividendos.js"></script>
{% endblock%}