{% extends 'lista.html'%}

{% block titulo_add %}
Añadir monederos
{% endblock %}

{% block contenido_add %}
<div class="form-outline form-white mb-4">
    <input type="text" id="addTypeNombreX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeNombreX">Nombre</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="addTypeCantidadInicialX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeCantidadInicialX">Cantidad Inicial</label>
</div>
{% endblock %}

{% block titulo_edit %}
Editar monederos
{% endblock %}

{% block contenido_edit %}
<div class="form-outline form-white mb-4">
    <input type="text" id="editTypeNombreX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeNombreX">Nombre</label>
</div>
<div class="form-outline form-white mb-4">
    <input type="text" id="editTypeCantidadInicialX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeCantidadInicialX">Cantidad Inicial</label>
</div>
<input type="hidden" id="editTypeIdX"/>
{% endblock %}


{% block listaextendsscript %}
<script type="text/javascript" src="assets/datatables/js/dataTables.rowGroup.min.js"></script>
<script type="text/javascript" src="assets/js/monederos.js"></script>
{% endblock%}