{% extends 'lista.html'%}

{% block listaextendscssstyle %}
<link href="assets/bootstrap/css/bootstrap-datepicker.min.css" rel="stylesheet">
{% endblock %}

{% block titulo_add %}
Añadir operación
{% endblock %}


{% block tabletopmenu %}

<div>

    <label class="mt-2 px-2 search-label" for="search-fecha-begin-datapicker">Desde:</label>
    <input id="search-fecha-begin-datapicker" type="text" class="form-control filtro-search">


    <label class="mt-2 px-2 search-label" for="search-fecha-end-datapicker">Hasta:</label>
    <input id="search-fecha-end-datapicker" type="text" class="form-control filtro-search">


    <label class="mt-2 px-2 search-label" for="search-categoria-gasto-select">Categoria Gasto</label>

    <select class="mt-2 px-2 form-control filtro-search" id="search-categoria-gasto-select">
        <option value="">-</option>
        {% for categoria_gasto in lista_categorias_gasto %}
        <option value="{{categoria_gasto.id}}">{{categoria_gasto.descripcion}}
        </option>
        {% endfor %}
    </select>

    <label class="mt-2 px-2 search-label" for="search-categoria-ingreso-select">Categoria Ingreso</label>

    <select class="mt-2 px-2 form-control filtro-search" id="search-categoria-ingreso-select">
        <option value="">-</option>
        {% for categoria_ingreso in lista_categorias_ingreso %}
        <option value="{{categoria_ingreso.id}}">{{categoria_ingreso.descripcion}}
        </option>
        {% endfor %}
    </select>


</div>
<div>
    <label class="mt-2 px-2 search-label" for="search-cuenta-cargo-select">Cuenta Cargo</label>
    <select class="mt-2 px-2 form-control filtro-search" id="search-cuenta-cargo-select">
        <option value="">-</option>
        {% for cuenta in lista_cuentas %}
        <option value="{{cuenta.id}}">{{cuenta.nombre}}
        </option>
        {% endfor %}
    </select>

    <label class="mt-2 px-2 search-label" for="search-cuenta-abono-select">Cuenta Abono</label>
    <select class="mt-2 px-2 form-control filtro-search" id="search-cuenta-abono-select">
        <option value="">-</option>
        {% for cuenta in lista_cuentas %}
        <option value="{{cuenta.id}}">{{cuenta.nombre}}
        </option>
        {% endfor %}
    </select>

    <label class="mt-2 px-2 search-label" for="search-monedero-cargo-select">Monedero cargo</label>

    <select class="mt-2 px-2 form-control filtro-search" id="search-monedero-cargo-select">
        <option value="">-</option>
        {% for monedero in lista_monederos %}
        <option value="{{monedero.id}}">{{monedero.nombre}}
        </option>
        {% endfor %}
    </select>

    <label class="mt-2 px-2 search-label" for="search-monedero-abono-select">Monedero abono</label>

    <select class="mt-2 px-2 form-control filtro-search" id="search-monedero-abono-select">
        <option value="">-</option>
        {% for monedero in lista_monederos %}
        <option value="{{monedero.id}}">{{monedero.nombre}}
        </option>
        {% endfor %}
    </select>

    <button type="button" class="btn btn-info px-2" id="search-button"><i
            class="uil-search"></i> Buscar
    </button>
</div>

{% endblock %}


{% block contenido_add %}
<div class="form-outline form-white mb-4">
    <div class="input-group date">
        <input id="addFechaDataPicker" type="text" class="form-control form-control-lg">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>

    </div>
    <label class="form-label" for="addFechaDataPicker">Fecha</label>

    <input type="text" id="addTypeDescripcionX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeDescripcionX">Descripción</label>

    <input type="text" id="addTypeCantidadX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeCantidadX">Cantidad</label>

    <div id="add-seleccion_tipo" class="form-control form-check form-check-inline">
        <input type="radio" class="btn-check" name="add_tipo" id="add-tipo-gasto" autocomplete="off" checked>
        <label class="btn btn-primary btn-radios" for="add-tipo-gasto">Gasto</label>

        <input type="radio" class="btn-check" name="add_tipo" id="add-tipo-ingreso" autocomplete="off">
        <label class="btn btn-primary btn-radios" for="add-tipo-ingreso">Ingreso</label>

        <input type="radio" class="btn-check" name="add_tipo" id="add-tipo-transferencia" autocomplete="off">
        <label class="btn btn-primary btn-radios" for="add-tipo-transferencia">Transferencia</label>
    </div>

    <div id="add-div-gasto" class="collapse show">
        <select class="form-select" id="add-gasto-categoria-gasto-select">
            <option value="">Seleccione un Gasto</option>
            {% for categoria_gasto in lista_categorias_gasto %}
            <option value="{{categoria_gasto.id}}" data-id-cuenta-defecto="{{categoria_gasto.id_cuenta_cargo_defecto}}"
                    data-id-monedero-defecto="{{categoria_gasto.id_monedero_defecto}}">{{categoria_gasto.descripcion}}
            </option>
            {% endfor %}
        </select>
        <select class="form-select" id="add-gasto-cuenta-cargo-select">
            <option value="None">Todas</option>
            {% for cuenta in lista_cuentas %}
            <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="add-gasto-monedero-cargo-select">
            <option value="">Ninguno</option>
            {% for monedero in lista_monederos %}
            <option value="{{monedero.id}}">{{monedero.nombre}}</option>
            {% endfor %}
        </select>
    </div>

    <div id="add-div-ingreso" class="collapse">
        <select class="form-select" id="add-ingreso-categoria-ingreso-select">
            <option value="">Seleccione un ingreso</option>
            {% for categoria_ingreso in lista_categorias_ingreso %}
            <option value="{{categoria_ingreso.id}}"
                    data-id-cuenta-defecto="{{categoria_ingreso.id_cuenta_abono_defecto}}"
                    data-id-monedero-defecto="{{categoria_ingreso.id_monedero_defecto}}">
                {{categoria_ingreso.descripcion}}
            </option>
            {% endfor %}
        </select>
        <select class="form-select" id="add-ingreso-cuenta-abono-select">
            <option value="">Ninguna</option>
            {% for cuenta in lista_cuentas %}
            <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="add-ingreso-monedero-abono-select">
            <option value="">Ninguno</option>
            {% for monedero in lista_monederos %}
            <option value="{{monedero.id}}">{{monedero.nombre}}</option>
            {% endfor %}
        </select>
    </div>


    <div id="add-div-transferencia" class="collapse">
        <select class="form-select" id="add-transferencia-categoria-gasto-select">
            <option value="">Seleccione un gasto</option>
            {% for categoria_gasto in lista_categorias_gasto %}
            <option value="{{categoria_gasto.id}}" data-id-cuenta-defecto="{{categoria_gasto.id_cuenta_cargo_defecto}}"
                    data-id-monedero-defecto="{{categoria_gasto.id_monedero_defecto}}">{{categoria_gasto.descripcion}}
            </option>
            {% endfor %}
        </select>
        <select class="form-select" id="add-transferencia-categoria-ingreso-select">
            <option value="">Seleccione un ingreso</option>
            {% for categoria_ingreso in lista_categorias_ingreso %}
            <option value="{{categoria_ingreso.id}}"
                    data-id-cuenta-defecto="{{categoria_ingreso.id_cuenta_abono_defecto}}"
                    data-id-monedero-defecto="{{categoria_ingreso.id_monedero_defecto}}">
                {{categoria_ingreso.descripcion}}
            </option>
            {% endfor %}
        </select>
        <select class="form-select" id="add-transferencia-cuenta-cargo-select">
            <option value="">Ninguna</option>
            {% for cuenta in lista_cuentas %}
            <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="add-transferencia-cuenta-abono-select">
            <option value="">Ninguna</option>
            {% for cuenta in lista_cuentas %}
            <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="add-transferencia-monedero-cargo-select">
            <option value="">Ninguno</option>
            {% for monedero in lista_monederos %}
            <option value="{{monedero.id}}">{{monedero.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="add-transferencia-monedero-abono-select">
            <option value="">Ninguno</option>
            {% for monedero in lista_monederos %}
            <option value="{{monedero.id}}">{{monedero.nombre}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

{% block titulo_edit %}
Editar Operacion
{% endblock %}

{% block contenido_edit %}
<div class="form-outline form-white mb-4">
    <div class="input-group date">
        <input id="editFechaDataPicker" type="text" class="form-control form-control-lg">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <label class="form-label" for="editFechaDataPicker">Fecha</label>

    <input type="text" id="editTypeDescripcionX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeDescripcionX">Descripción</label>

    <input type="text" id="editTypeCantidadX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeCantidadX">Cantidad</label>

    <div id="edit-seleccion_tipo" class="form-control form-check form-check-inline">
        <input type="radio" class="btn-check" name="edit_tipo" id="edit-tipo-gasto" autocomplete="off">
        <label class="btn btn-primary btn-radios" for="edit-tipo-gasto">Gasto</label>

        <input type="radio" class="btn-check" name="edit_tipo" id="edit-tipo-ingreso" autocomplete="off">
        <label class="btn btn-primary btn-radios" for="edit-tipo-ingreso">Ingreso</label>

        <input type="radio" class="btn-check" name="edit_tipo" id="edit-tipo-transferencia" autocomplete="off">
        <label class="btn btn-primary btn-radios" for="edit-tipo-transferencia">Transferencia</label>
    </div>

    <div id="edit-div-gasto" class="collapse">
        <select class="form-select" id="edit-gasto-categoria-gasto-select">
            <option value="">Seleccione un Gasto</option>
            {% for categoria_gasto in lista_categorias_gasto %}
            <option value="{{categoria_gasto.id}}" data-id-cuenta-defecto="{{categoria_gasto.id_cuenta_cargo_defecto}}"
                    data-id-monedero-defecto="{{categoria_gasto.id_monedero_defecto}}">{{categoria_gasto.descripcion}}
            </option>
            {% endfor %}
        </select>
        <select class="form-select" id="edit-gasto-cuenta-cargo-select">
            <option value="None">Todas</option>
            {% for cuenta in lista_cuentas %}
            <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="edit-gasto-monedero-cargo-select">
            <option value="">Ninguno</option>
            {% for monedero in lista_monederos %}
            <option value="{{monedero.id}}">{{monedero.nombre}}</option>
            {% endfor %}
        </select>
    </div>

    <div id="edit-div-ingreso" class="collapse">
        <select class="form-select" id="edit-ingreso-categoria-ingreso-select">
            <option value="">Seleccione un ingreso</option>
            {% for categoria_ingreso in lista_categorias_ingreso %}
            <option value="{{categoria_ingreso.id}}"
                    data-id-cuenta-defecto="{{categoria_ingreso.id_cuenta_abono_defecto}}"
                    data-id-monedero-defecto="{{categoria_ingreso.id_monedero_defecto}}">
                {{categoria_ingreso.descripcion}}
            </option>
            {% endfor %}
        </select>
        <select class="form-select" id="edit-ingreso-cuenta-abono-select">
            <option value="">Ninguna</option>
            {% for cuenta in lista_cuentas %}
            <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="edit-ingreso-monedero-abono-select">
            <option value="">Ninguno</option>
            {% for monedero in lista_monederos %}
            <option value="{{monedero.id}}">{{monedero.nombre}}</option>
            {% endfor %}
        </select>
    </div>


    <div id="edit-div-transferencia" class="collapse">
        <select class="form-select" id="edit-transferencia-categoria-gasto-select">
            <option value="">Seleccione un gasto</option>
            {% for categoria_gasto in lista_categorias_gasto %}
            <option value="{{categoria_gasto.id}}" data-id-cuenta-defecto="{{categoria_gasto.id_cuenta_cargo_defecto}}"
                    data-id-monedero-defecto="{{categoria_gasto.id_monedero_defecto}}">{{categoria_gasto.descripcion}}
            </option>
            {% endfor %}
        </select>
        <select class="form-select" id="edit-transferencia-categoria-ingreso-select">
            <option value="">Seleccione un ingreso</option>
            {% for categoria_ingreso in lista_categorias_ingreso %}
            <option value="{{categoria_ingreso.id}}"
                    data-id-cuenta-defecto="{{categoria_ingreso.id_cuenta_abono_defecto}}"
                    data-id-monedero-defecto="{{categoria_ingreso.id_monedero_defecto}}">
                {{categoria_ingreso.descripcion}}
            </option>
            {% endfor %}
        </select>
        <select class="form-select" id="edit-transferencia-cuenta-cargo-select">
            <option value="">Ninguna</option>
            {% for cuenta in lista_cuentas %}
            <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="edit-transferencia-cuenta-abono-select">
            <option value="">Ninguna</option>
            {% for cuenta in lista_cuentas %}
            <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="edit-transferencia-monedero-cargo-select">
            <option value="">Ninguno</option>
            {% for monedero in lista_monederos %}
            <option value="{{monedero.id}}">{{monedero.nombre}}</option>
            {% endfor %}
        </select>
        <select class="form-select" id="edit-transferencia-monedero-abono-select">
            <option value="">Ninguno</option>
            {% for monedero in lista_monederos %}
            <option value="{{monedero.id}}">{{monedero.nombre}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<input type="hidden" id="editTypeIdX"/>
{% endblock %}


{% block listaextendsscript %}
<script type="text/javascript" src="assets/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap-datepicker.es.min.js"></script>
<script type="text/javascript" src="assets/js/operaciones.js"></script>
{% endblock%}