{% extends 'lista.html'%}

{% block listaextendscssstyle %}
<link href="assets/bootstrap/css/bootstrap-datepicker.min.css" rel="stylesheet">
{% endblock %}

{% block titulo_add %}
Añadir Compra de acciones
{% endblock %}


{% block tabletopmenu %}

<div>
    <label class="mt-2 px-2 search-label" for="search-fecha-compra-begin-datapicker">Desde:</label>
    <input id="search-fecha-compra-begin-datapicker" type="text" class="form-control filtro-search">

    <label class="mt-2 px-2 search-label" for="search-fecha-compra-end-datapicker">Hasta:</label>
    <input id="search-fecha-compra-end-datapicker" type="text" class="form-control filtro-search">

    <button type="button" class="btn btn-info px-2" id="search-button"><i
            class="uil-search"></i> Buscar
    </button>
</div>

{% endblock %}


{% block contenido_add %}
<div class="form-outline form-white mb-4">
    <div class="input-group date">
        <input id="addFechaCompraDataPicker" type="text" class="form-control form-control-lg">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>

    </div>
    <label class="form-label" for="addFechaCompraDataPicker">Fecha Compra</label>

    <input type="text" id="addTypeNombreX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeNombreX">Nombre</label>

    <input type="text" id="addTypeISINX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeISINX">ISIN</label>

    <select class="form-select" id="add-bolsa-select">
        <option value="" selected=""></option>
        {% for bolsa in lista_bolsas %}
        <option value="{{bolsa.id}}">{{bolsa.nombre}}</option>
        {% endfor %}
    </select>
    <label class="form-label" for="add-bolsa-select">Bolsa</label>


    <select class="form-select" id="add-broker-select">
        <option value="" selected=""></option>
        {% for broker in lista_brokers %}
        <option value="{{broker.id}}">{{broker.nombre}}</option>
        {% endfor %}
    </select>
    <label class="form-label" for="add-broker-select">Broker</label>


    <input type="text" id="addTypePrecioAccionX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypePrecioAccionX">Precio Acción</label>

    <input type="text" id="addTypeNumeroAccionesX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeNumeroAccionesX">Número de acciones</label>

    <input type="text" id="addTypeComisionesCompraX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeComisionesCompraX">Comisiones Compra</label>

    <input type="text" id="addTypeOtrasComisionesX" class="form-control form-control-lg"/>
    <label class="form-label" for="addTypeOtrasComisionesX">Otras Comisiones</label>

</div>
{% endblock %}

{% block titulo_edit %}
Editar Compra de acciones
{% endblock %}

{% block contenido_edit %}
<div class="form-outline form-white mb-4">
    <div class="input-group date">
        <input id="editFechaCompraDataPicker" type="text" class="form-control form-control-lg">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <label class="form-label" for="editFechaCompraDataPicker">Fecha Compra</label>

    <input type="text" id="editTypeNombreX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeNombreX">Nombre</label>

    <input type="text" id="editTypeISINX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeISINX">ISIN</label>

    <div class="form-outline form-white mb-4">
        <select class="form-select" id="edit-bolsa-select">
            <option value="" selected=""></option>
            {% for bolsa in lista_bolsas %}
            <option value="{{bolsa.id}}">{{bolsa.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <label class="form-label" for="edit-bolsa-select">Bolsa</label>

    <div class="form-outline form-white mb-4">
        <select class="form-select" id="edit-broker-select">
            <option value="" selected=""></option>
            {% for broker in lista_brokers %}
            <option value="{{broker.id}}">{{broker.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <label class="form-label" for="edit-broker-select">Broker</label>

    <input type="text" id="editTypePrecioAccionX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypePrecioAccionX">Precio Acción</label>

    <input type="text" id="editTypeNumeroAccionesX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeNumeroAccionesX">Número de acciones</label>

    <input type="text" id="editTypeComisionesCompraX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeComisionesCompraX">Comisiones Compra</label>

    <input type="text" id="editTypeOtrasComisionesX" class="form-control form-control-lg"/>
    <label class="form-label" for="editTypeOtrasComisionesX">Otras Comisiones</label>
</div>
<input type="hidden" id="editTypeIdX"/>
{% endblock %}


{% block listaextendsscript %}
<script type="text/javascript" src="assets/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap-datepicker.es.min.js"></script>
<script type="text/javascript" src="assets/js/posicionesacciones.js"></script>
{% endblock%}