{% extends 'lista.html'%}

{% block listaextendscssstyle %}
<link href="assets/daterangepicker/css/daterangepicker.css" rel="stylesheet">
{% endblock %}

{% block titulo_add %}
Añadir Compra de acciones
{% endblock %}


{% block tabletopmenu %}

<div>

    <div class="input-group">
        <label class="mt-2 px-2 search-label" for="search-fecha-compra-begin-datapicker">Desde:</label>
        <input type="text" class="form-control" id="search-fecha-compra-begin-datapicker"
               data-toggle="date-picker" data-time-picker="true">
        <div class="input-group-text bg-primary border-primary text-white">
            <span class="uil uil-calendar-alt"></span>
        </div>

        <label class="mt-2 px-2 search-label" for="search-fecha-compra-end-datapicker">Hasta:</label>
        <input type="text" class="form-control" id="search-fecha-compra-end-datapicker"
               data-toggle="date-picker" data-time-picker="true">
        <div class="input-group-text bg-primary border-primary text-white">
            <span class="uil uil-calendar-alt"></span>
        </div>
        <button type="button" class="btn btn-info px-2" id="search-button"><i
                class="uil-search"></i> Buscar
        </button>
    </div>


</div>

{% endblock %}


{% block contenido_add %}
<div class="form-outline form-white mb-4">
    <div class="input-group date form-floating">
        <input type="text" class="form-control" id="addFechaCompraDataPicker"
               data-toggle="date-picker" data-time-picker="true">
        <div class="input-group-text bg-primary border-primary text-white">
            <span class="uil uil-calendar-alt"></span>
        </div>
        <label for="addFechaCompraDataPicker">Fecha Compra</label>
    </div>

    <div class="input-group mt-2">
        <select class="form-select" id="addTypeISINX">
            <option value="">Seleccione Producto</option>
            {% for producto in lista_productos %}
            <option value="{{producto.isin}}">{{producto.nombre}} - {{producto.isin}}
            </option>
            {% endfor %}
        </select>
    </div>

    <select class="form-select mt-2" id="add-bolsa-select">
        <option value="">Seleccione Bolsa</option>
        {% for bolsa in lista_bolsas %}
        <option value="{{bolsa.id}}">{{bolsa.nombre}}</option>
        {% endfor %}
    </select>


    <select class="form-select mt-2" id="add-broker-select">
        <option value="">Seleccione Broker</option>
        {% for broker in lista_brokers %}
        <option value="{{broker.id}}">{{broker.nombre}}</option>
        {% endfor %}
    </select>

    <div class="form-floating mt-2">
        <input type="text" id="addTypePrecioAccionX" class="form-control"/>
        <label for="addTypePrecioAccionX">Precio Acción</label>
    </div>

    <div class="form-floating mt-2">
        <input type="text" id="addTypeNumeroAccionesX" class="form-control"/>
        <label for="addTypeNumeroAccionesX">Número de acciones</label>
    </div>
    <div class="form-floating mt-2">
        <input type="text" id="addTypeComisionesCompraX" class="form-control"/>
        <label for="addTypeComisionesCompraX">Comisiones Compra</label>
    </div>
    <div class="form-floating mt-2">
        <input type="text" id="addTypeOtrasComisionesX" class="form-control"/>
        <label for="addTypeOtrasComisionesX">Otras Comisiones</label>
    </div>
</div>
{% endblock %}

{% block titulo_edit %}
Editar Compra de acciones
{% endblock %}

{% block contenido_edit %}
<div class="form-outline form-white mb-4">
    <div class="input-group date form-floating">
        <input type="text" class="form-control" id="editFechaCompraDataPicker"
               data-toggle="date-picker" data-time-picker="true">
        <div class="input-group-text bg-primary border-primary text-white">
            <span class="uil uil-calendar-alt"></span>
        </div>
        <label for="editFechaCompraDataPicker">Fecha Compra</label>
    </div>


    <div class="input-group mt-2 mb-4">
        <select class="form-select" id="editTypeISINX">
            <option value="">Seleccione Producto</option>
            {% for producto in lista_productos %}
            <option value="{{producto.isin}}">{{producto.nombre}} - {{producto.isin}}
            </option>
            {% endfor %}
        </select>
    </div>


    <div class="form-outline form-white mb-4">
        <label for="edit-bolsa-select">Bolsa</label>
        <select class="form-select" id="edit-bolsa-select">
            <option value="" selected=""></option>
            {% for bolsa in lista_bolsas %}
            <option value="{{bolsa.id}}">{{bolsa.nombre}}</option>
            {% endfor %}
        </select>
    </div>


    <div class="form-outline form-white mb-4">
        <label for="edit-broker-select">Broker</label>
        <select class="form-select" id="edit-broker-select">
            <option value="" selected=""></option>
            {% for broker in lista_brokers %}
            <option value="{{broker.id}}">{{broker.nombre}}</option>
            {% endfor %}
        </select>
    </div>


    <div class="form-floating mb-3">
        <input type="text" id="editTypePrecioAccionX" class="form-control"/>
        <label for="editTypePrecioAccionX">Precio Acción</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" id="editTypeNumeroAccionesX" class="form-control"/>
        <label for="editTypeNumeroAccionesX">Número de acciones</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" id="editTypeComisionesCompraX" class="form-control"/>
        <label for="editTypeComisionesCompraX">Comisiones Compra</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" id="editTypeOtrasComisionesX" class="form-control"/>
        <label for="editTypeOtrasComisionesX">Otras Comisiones</label>
    </div>
</div>
<input type="hidden" id="editTypeIdX"/>
{% endblock %}


{% block listaextendsscript %}
<script type="text/javascript" src="assets/moment/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="assets/daterangepicker/js/daterangepicker.min.js"></script>
<script type="text/javascript" src="assets/js/posicionesacciones.js"></script>
{% endblock%}