{% extends 'layout.html'%}


{% block cssstyle %}
<link href="assets/datatables/css/dataTables.bootstrap5.min.css" rel="stylesheet">
{% endblock%}

{% block contenido %}
<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body pt-2">
                <table id="resumen-monederos-total" class="table table-striped table-hover order-column tabla-total">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                    <tbody class="filas">
                    </tbody>
                </table>

            </div>
        </div>
        <div class="card">
            <div class="card-body pt-2">
                <table id="resumen-monederos-ingreso" class="table table-striped table-hover order-column tabla-ingreso">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                    <tbody class="filas">
                    </tbody>
                </table>

            </div>
        </div>
        <div class="card">
            <div class="card-body pt-2">
                <table id="resumen-monederos-gasto" class="table table-striped table-hover order-column tabla-gasto">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                    <tbody class="filas">
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div>

{% endblock%}

{% block script %}
<script type="text/javascript" src="assets/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="assets/datatables/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="assets/datatables/js/dataTables.rowGroup.min.js"></script>
<script type="text/javascript" src="assets/chartjs/js/chart.js"></script>
<script type="text/javascript" src="assets/js/resumen.js"></script>
<script type="text/javascript" src="assets/js/resumenmonederos.js"></script>
{% endblock %}