{% extends 'layout.html'%}

{% block contenido %}
<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body pt-2">

                <div>
                    <canvas id="resumen_totales"></canvas>
                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div>

{% endblock%}

{% block script %}
<script type="text/javascript" src="assets/chartjs/js/chart.js"></script>
<script type="text/javascript" src="assets/js/resumen.js"></script>
{% endblock %}