.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

tr.ingreso.odd, tr.ingreso.even, .ingreso{
    background-color:#82E0AA;
   --ct-table-hover-bg: #CCD1D1;
}

tr.transferencia.odd, tr.transferencia.even, .transferencia{
    background-color:#AED6F1;
    --ct-table-hover-bg: #CCD1D1;
}

tr.gasto.odd, tr.gasto.even, .gasto{
    background-color:#F5B7B1;
    --ct-table-hover-bg: #CCD1D1;
}

ul.pagination{
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center;
}

.custom-badge{
    --ct-badge-color: #313a46;
    font-size: 0.80em;
}
.btn-radios{
    background-color:#ABB2B9;
    border-color:#ABB2B9;
    -webkit-box-shadow: var(--ct-btn-box-shadow) #ABB2B9;
}
.btn-radios:checked+.btn{
    background-color:#727cf5;
    border-color:#727cf5;
    -webkit-box-shadow: var(--ct-btn-box-shadow) #727cf5;
}
.lista_tabla{
    width:100%;
}

.filtro-search{
    display:inline;
    width:auto;
}

.search-label{
font-weight: bold;
}